@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }

body { overflow: hidden; }

.fade-animation, .ng-enter, .ng-enter-active, .ng-leave, .ng-leave-active, .slide-menu { -webkit-transition: 0.2s linear all; transition: 0.2s linear all; }

.ng-enter, .ng-enter-active { opacity: 0; }

.ng-enter-active { opacity: 1; }

.ng-leave, .ng-leave-active { opacity: 1; }

.ng-leave-active { opacity: 0; }

.slide-menu { left: 345px; }

/** Search */
#search { position: absolute; top: 15px; margin-left: 15px; width: 335px; font-size: 0; padding: 0px; z-index: 15; clear: both; }
#search .tab { padding: 12px 14px 12px 14px; width: 137px; font: 14px Roboto Condensed; display: inline-block; background: rgba(16, 49, 90, 0.4); color: white; cursor: pointer; text-align: center; }
#search .tab:hover { background: #10315a !important; }
#search .active { background: #10315a !important; }
#search .search-field { width: 307px; font: 14px Roboto Condensed; display: block; padding: 11px 11px 11px 12px; outline: none; border: 0px; }
#search .invalid { background: rgba(16, 49, 90, 0.4); }
#search .autocomplete { position: absolute; z-index: 10; font: 14px Roboto Condensed; width: 330px; cursor: pointer; background: white; }
#search .autocomplete div { padding: 6px 8px 6px 8px; border-bottom: 1px solid rgba(16, 49, 90, 0.4); }
#search .autocomplete div:hover { background: rgba(223, 223, 223, 0.5); }
#search .tags { position: relative; width: 335px; font: 14px Roboto Condensed; padding: 0px; z-index: 5; }
#search .tag { padding: 6px 8px 6px 8px; width: 94px; border-bottom: 1px solid #10315a; font: 14px Roboto Condensed; display: inline-block; background: rgba(16, 49, 90, 0.4); color: white; cursor: pointer; text-align: center; }
#search .tag:hover { background: #10315a !important; }
#search .search-button { padding: 12px 14px 12px 14px; width: 135px; font: 14px Roboto Condensed; display: inline-block; background: rgba(16, 49, 90, 0.4); color: white; cursor: pointer; text-align: center; }
#search .search-button:hover { background: #10315a !important; }
#search .festivals { width: 15px; padding: 12px 5px 12px 5px; margin-left: 3px; font: 14px Roboto Condensed; display: inline-block; background: rgba(16, 49, 90, 0.4); color: white; cursor: pointer; text-align: center; }
#search .festivals:hover { background: #10315a !important; }

/** Events */
#events { position: absolute; top: 15px; left: 15px; bottom: 15px; width: 330px; overflow-y: auto; overflow-x: hidden; font: 14px Roboto Condensed; color: white; z-index: 6; }
#events .more { position: relative; height: 25px; padding: 18px 14px 12px 14px; background-color: rgba(16, 49, 90, 0.4); text-align: center; }
#events .more:hover { background: #10315a; cursor: pointer; }

.event-item { position: relative; height: 90px; border-bottom: 1px solid #10315a; padding: 12px 14px 12px 14px; background-color: rgba(16, 49, 90, 0.4); }
.event-item:hover { background: #10315a; cursor: pointer; }
.event-item .artist-pic { width: 50px; height: 50px; float: left; margin: 20px 15px 5px 0; }
.event-item .artist-data { width: 210px; font: 14px Roboto Condensed; margin: 0px 5px 5px 80px; }
.event-item .selected { background: #10315a !important; }

/** Map */
#map { position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; margin: 0px; padding: 0px; z-index: 2; }

.dot { border-radius: 50%; }

.leaflet-container { color: white !important; }

.leaflet-popup-content-wrapper { border-radius: 0 !important; background: #10315a !important; }

.leaflet-popup-content { padding: 0px !important; width: 285px !important; height: 120px; }

.leaflet-popup-tip { border-top: 10px solid #10315a !important; }

::selection { background: #ffb7b7; }

::-moz-selection { background: #ffb7b7; }

/*# sourceMappingURL=styles.css.map */
