<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8"/>
        <title>Ontour.im</title>

        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css">
        <link rel="stylesheet" href="css/MarkerCluster.css">
        <link rel="stylesheet" href="css/MarkerCluster.Default.css">
    </head>

    <body ng-controller="MapController">
        <section id="sidebar" ng-controller="MenuController">

            <section id="sidebar_inner" ng-controller="SearchController">

                <menu id="search">
                    <section id="tabs">
                        <nav ng-repeat="tab in tabs"
                             ng-click="switchTab(tab)" 
                             ng-class="{'active' : menu.activeTab.title === tab.title}" 
                             ng-bind="tab.title"
                             ng-cloak
                             class="tab">
                        </nav>
                    </section>

                    <section ng-controller="AutocompleteController">
                        <form name="menuForm">
                            <input ng-class="{'invalid' : menuForm.searchValue.$invalid}" 
                                   ng-model="menu.searchValue"
                                   ng-keydown="getAutocompleteData(menu.searchValue)"
                                   ng-cloak
                                   class="search-field" 
                                   name="searchValue"
                                   placeholder="Enter {{menu.activeTab.title}}">
                        </form>
                        
                        <section id="autocomplete">
                            <div ng-repeat="item in autocomplete.items"
                                 ng-click="search(item.name)"
                                 ng-mouseover="selectItem(item)"
                                 ng-class="{'hover' : autocomplete.activeItem === item}"
                                 ng-cloak>
                                 <a>{{item.name}}</a> {{item.meta}}
                            </div>
                        </section>
                    </section>
                    
                    <section id="tags" ng-show="menu.activeTab.title === 'location'">
                        <div ng-repeat="tag in tags"
                             ng-click="switchTag(tag)" 
                             ng-class="{'active' : menu.activeTag === tag}"
                             ng-bind="tag"
                             ng-cloak
                             class="tag">
                        </div>
                    </section>
                    
                    <a class="search-button" ng-click="search(menu.searchValue)">Search</a>

                    <a ng-click="setFestivalsOnly()"
                       ng-class="{'active' : menu.festivalsOnly === 1}"
                       title="Festivals only" 
                       class="festivals">F</a>
                </menu>

                <section id="events" ng-controller="EventController">
                    <div id="event-item" 
                         ng-repeat="event in events"
                         ng-class="{'selected' : event.selected}"
                         ng-click="selectEvent(event)"
                         ng-mouseover="showPopup(event)"
                         ng-mouseout="hidePopup(event)"
                         ng-cloak>
                         <img ng-src="{{event.image[1]['#text']}}" class="artist-pic" />
                         <div class="artist-data">
                             {{event.startDate}}
                             {{event.artists.headliner}}<br/><br/>
                             {{event.venue.name}}<br/>
                             {{event.venue.location.city}} {{event.venue.location.country}}<br/>
                         </div>                     
                    </div>
                    <div id="more" 
                         ng-click="nextPage()"
                         ng-show="events"
                         ng-cloak>More
                    </div>
                </section>

            </section>

            <section id="controls">
                <a id="slide">Slide</a>
                <a id="markers" class="layers active"><b>markers</b></a>
                <a id="paths" class="layers active"><b>paths</b></a>
                <a id="go-top"><b>^</b></a>
                <div id="date-selector">Date</div>
                <section id="date">
                    <section id="years"></section>
                    <section id="months"></section>
                    <section id="days"></section>          
                </section>
            </section>

            <section id="status"></section>

        </section>

        <dialog id="notification"></dialog>
        <section id="event-detail"></section>
        <section id="map"></section>

        <script src="../js/vendor/require-min.js" data-main="../js/main.js"></script>
    </body>
</html>