<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8"/>
        <title>Ontour.im</title>

        <link rel="stylesheet" href="css/styles.css">
            
        <!--[if IE]>
             <link rel="stylesheet" href="css/styles_ie.css">
        <![endif]-->    

        <link rel="stylesheet" href="css/scrollbar.min.css">
        <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css">
        <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css">
        <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css">
    </head>

    <body ng-app="App">
        <section id="sidebar">

            <menu id="search" ng-controller="MenuController">
                <section id="tabs">
                    <nav ng-repeat="tab in menu.tabs"
                         ng-click="switchTab(tab)" 
                         ng-class="{'active' : menu.activeTab.title === tab.title}" 
                         class="tab">{{tab.title}}
                    </nav>
                </section>

                <section ng-controller="AutocompleteController">
                    <form name="menuForm">
                        <input class="search-field" 
                               ng-class="{'invalid' : menuForm.searchValue.$invalid}" 
                               placeholder="Enter {{menu.activeTab.title}}.." 
                               ng-model="menu.searchValue"
                               ng-model-options="{updateOn: 'blur'}"
                               name="searchValue"
                               ng-minlength="5"
                               ng-keydown="getAutocompleteData(menu.searchValue)">
                    </form>
                    
                    <section id="autocomplete">
                        <div ng-repeat="item in menu.autocompleteItems"
                             ng-click="search(item.name)"
                             ng-mouseover="selectItem(item)"
                             ng-class="{'hover' : menu.activeItem === item}">
                             <a>{{item.name}}</a> {{item.meta}}                 
                        </div>
                    </section>
                </section>
                
                <section id="tags" ng-show="menu.activeTab === 'city'">
                    <div ng-repeat="tag in menu.tags"
                         ng-click="switchTag(tag)" 
                         ng-class="{'active' : menu.activeTag === tag}"
                         class="tag">{{tag}}
                    </div>
                </section>
                
                <a class="search-button" ng-click="search()">Search</a>

                <a title="Festivals only" 
                   ng-click="setFestivalsOnly()"
                   ng-class="{'active' : menu.festivalsOnly === true}"
                   class="festivals">F</a>
            </menu>

            <section id="events" ng-controller="EventController">
                <div id="event-item" 
                     ng-repeat="event in events"
                     ng-click="selectEvent(event)" 
                     ng-class="{'active' : activeEvent === event}">
                     <img src="" class="artist-pic" />
                     <div class="artist-data">
                         (new Date({{event.date}})).toLocaleDateString('ru-RU')<div class="save-event">Иду</div><br/>
                         {{event.artists.headliner}}<br/><br/>
                         {{event.venue.name}}<br/>
                         {{event.venue.location.city}} {{event.venue.location.country}}<br/>
                     </div>                     
                </div>
            </section>

            <section id="controls">
                <a id="slide">Slide</a>
                <a id="markers" class="layers active"><b>markers</b></a>
                <a id="paths" class="layers active"><b>paths</b></a>
                <a id="go-top"><b>^</b></a>
                <div id="date-selector">Date</div>
                <section id="date">
                    <section id="years"></section>
                    <section id="months"></section>
                    <section id="days"></section>          
                </section>
            </section>

            <section id="status">
                
            </section>

        </section>

        <dialog id="notification"></dialog>
        <section id="event-detail"></section>
        <section id="map" ng-controller="MapController" ng-init="init()"></section>

        <script src="../js/lib/require-min.js" data-main="../js/main.js"></script>
    </body>
</html>