<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/all.min.css' />
  </head>
  <body>
  	<section id="welcome-pic">
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
  	</section>
  </body>
</html>
