include head.jade

section(id="landing-head")
	a(href="/welcome") Home
	a(id="sign-in", href="/signin") Sign in
	a(id="sign-up", href="/signup") Sign up
	a(id="try", href="/") Taste it

form(method="POST", action="/api/users", id="landing-form")
	input(class="landing-data", type="email", name="email", placeholder="Email")
	input(class="landing-data", type="text", name="login", placeholder="Login")
	input(class="landing-data", type="password", name="password", placeholder="Password")
	input(class="landing-data", type="password", name="password-repeat", placeholder="Repeat password")
	button(class="landing-data", type="submit") Sign up
