include head.jade

section(id="landing-actions")
	div(class="landing-words") Welcome to Ontour! Confirmation <br/> letter have been sent on your email.
	a(id="sign-in", href="/signin") Sign in
	a(id="sign-up", href="/signup") Sign up
	a(id="try", href="/") Taste it
