include head.jade

section(id="landing-actions")
	div(class="landing-words") Follow your favorite band's <br/> shows / tours / festivals / local events
	a(id="sign-in", href="/signin") Sign in
	a(id="sign-up", href="/signup") Sign up
	a(id="try", href="/") Taste it
