
$bg = rgba(16,49,90,1)
$bg-alpha = rgba(16,49,90,0.4)
$bg-grey = rgba(223,223,223,0.5)
$border = rgba(16,49,90,1)

$font = bold small-caps 16px serif
$fontEvents = bold small-caps 14px serif
$fontSmall = bold small-caps 12px serif
$fontHeader = bold small-caps 18px serif

$padding = 12px 14px 12px 14px
$paddingFF = 10px 12px 10px 12px
$paddingLess = 6px 8px 6px 8px
$paddingLessFF = 7px 8px 7px 8px

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
	display none !important

body
	overflow hidden

/**
 * Sidebar and Controls
 */

#sidebar
	position fixed
	top 0px
	left 0px
	width 360px
	height 100%
	z-index 3

/**
  * Tags, Years, Months, Days
  */

#tags
	position relative
	width 335px
	height 95px
	font $font
	padding 0px
	z-index 5
	background transparent

.fade-animation
	-webkit-transition 0.2s linear all
	transition 0.2s linear all

.fade-animation.ng-enter
	opacity 0

.fade-animation.ng-enter.ng-enter-active
	opacity 1

.fade-animation.ng-leave
	opacity 1

.fade-animation.ng-leave.ng-leave-active
	opacity 0

.fade-animation.slide-menu
	left 345px

.tag
	cursor pointer
	padding $paddingLess
	width 94px
	line-height 25pt
	text-align center
	font $font
	border-bottom 1px solid $border
	display inline-block
	color white
	background $bg-alpha
	&:hover
		background $bg !important

/**
 * Search
 */

#search
	position absolute
	top 15px
	margin-left 15px
	width 335px
	font-size 0
	padding 0px
	z-index 15
	clear both
	background transparent

.tab
	cursor pointer
	padding $padding
	width 137px
	line-height 25pt
	text-align center
	font $font
	display inline-block
	color white
	background $bg-alpha
	&:hover
		background $bg !important

.active
	background $bg !important

.search-field
	width 307px
	line-height 25pt
	font $font
	display block
	padding 11px 11px 11px 12px
	outline none
	border 0px

.invalid
	background $bg-alpha

.search-button
	cursor pointer
	padding $padding
	width 150px
	line-height 25pt
	text-align center
	font $font
	display inline-block
	color white
	background $bg-alpha
	&:hover
		background $bg !important

.festivals
	width 20px
	cursor pointer
	padding 12px 1px 12px 10px
	margin-left 3px
	font $font
	display inline-block
	vertical-align top
	color white
	background $bg-alpha
	&:hover
		background $bg !important

/**
 * Events
 */

#events
	position absolute
	top 15px
	left 15px
	bottom 15px
	width 92%
	height auto
	overflow-y auto
	overflow-x hidden
	font $fontEvents
	color white
	background transparent
	z-index 6

#event-item
	position relative
	height 90px
	border-bottom 1px solid $border
	padding $padding
	background-color $bg-alpha
	&:hover
		background $bg
		cursor pointer

.selected
	background $bg !important

.artist-pic
	width 50px
	height 50px
	float left
	margin 20px 15px 5px 0

.artist-data
	width 210px
	font $fontEvents
	margin 5px 5px 5px 80px

#more
	position relative
	width 303px
	height 25px
	padding 18px 14px 12px 14px
	background-color $bg-alpha
	text-align center
	&:hover
		background $bg
		cursor pointer

/**
 * Autocomplete
 */

#autocomplete
	position absolute
	z-index 10
	font $font
	line-height 18pt
	width 331px
	cursor pointer
	background white

#autocomplete div
	padding $paddingLess
	border-bottom 1px solid $bg-alpha

.hover
	background $bg-grey

/**
 * Map area
 */

#map
	position fixed
	top 0px
	left 0px
	width 100%
	height 100%
	margin 0px
	padding 0px
	z-index 2

/**
  * Map elements
  */

.dot
	border-radius 50%

.leaflet-container
	color white !important

.leaflet-popup-content-wrapper
	border-radius 0 !important
	background $bg !important

.leaflet-popup-content
	padding 0px !important
	width 285px !important
	height 120px

.leaflet-popup-tip
	border-top 10px solid $bg !important

@-moz-document url-prefix()
	.tab, .search-button, .festivals
		font $fontSmall
		padding 12px 14px 12px 14px
	.search-field
		font $fontSmall
		padding $paddingFF
		margin 2px 0 2px 0
	.artist-data
		font $fontSmall
	.tag, #autocomplete div
		padding $paddingLessFF
		font $fontSmall