doctype html
html
	head
		meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
		meta(charset="utf-8")
		title Ontour.im | Music Trip Planner
		meta(name="description", content="Follow the shows of your favourite bands")

		link(rel="icon", type="image/png", href="img/ontour-ico.png")
		link(rel="stylesheet", href="css/normalize.css")
		link(rel='stylesheet', href='/css/all.min.css')
		
	body
		section(id="welcome-pic")
