doctype html
html
	head
    	title Welcome to ontour
    	link(rel='stylesheet', href='/css/all.min.css')
    	
  	body
  		section(id="welcome-pic")
  			img(src="/img/ontour-logo.png", alt="ontour.im")